$corFundo: #040714;
$corTextoPrincipal: silver;
$corTextoSecundario: white;
$corFundoBTNPrimario: #6421ff;
$corFundoBTNSecundario: #0063e5;
$corFundoBTNDark: #000;

// background-color: #6421ff;
// background-color: blueviolet;
